{% set title = "사용자 등록" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th>사용자</th>
                <td><input type="text" name="name" class="form-control"/></td>
            </tr>
            <tr>
                <th>상태</th>
                <td><input type="text" name="price" class="form-control"/></td>
            </tr>
            <tr>
                <th>성공횟수</th>
                <td><input type="text" name="description" class="form-control"/></td>
            </tr>
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>

{% endblock %}